body,html{width:100%;height:100%}body{margin:0}#lead,body{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center}#lead-title{font-size:2em;margin:0}#caption{font-size:1.5em}
/*# sourceMappingURL=index.4c38c47c.css.map */
