doctype html
html(lang="en")
  head
    include ../includes/head.pug
    link(href="../static/favicon.png" rel="icon" type="image/png")
    title Sunflower Affinity Group
  body
    main
      article
        h1
          | Thinking in solidarity: 
          | <span class="emoji" role="img" aria-label="raised fist emoji">
          |   ✊
          | </span>
        p
          | We are currently <em>not</em> a non-profit, nor do we handle money
          | in any way, shape, or form. We are an <em>affinity group</em>,
          | or horizontal organization, organizing around principled
          | <dfn>Free and Libre Open Source Software</dfn> (<abbr title="Free Libre Open Source Software">FLOSS</abbr>) and 
          | working on destroying all hierarchy.
        h2
          | Abolishing all authority for a free society: 
          | <span class="emoji" role="img" aria-label="black flag emoji">
          |   ⚑
          | </span>
        p 
          | A free society abolishes all authority, and therefor abolishes
          | hierarchies inherent in capitalism, neoliberal democracy, and all
          | forms of hierarchy and domination, embracing anarchism.
        h2
          | <abbr title="Free Libre Open Source Software">FLOSS</abbr>
          |  on the principle of mutual aid:
          | <span class="emoji" role="img" aria-label="handshake emoji">
          |   🤝
          | </span>
        p 
          | A free society needs libre software, and that we shall provide:
          | software from each developer according to their ability, to each
          | enthusiast according to their need. Software must be for the
          | proletariat, by the proletariat. This is why we must come
          | together and set standards for the free, libre, secure, private,
          | and cryptographically sound creation of 
          | <abbr title="Free Libre Open Source Software">FLOSS</abbr> and
          | associated documentation and creative works. Expand the sections
          | below to learn about our three big standards.
        details
          summary
            | Freedom: 
            | <span class="emoji" role="img" aria-label="dove of peace emoji">
            |   🕊
            | </span>
          p Most radical software understands the need for a free
            | world post-copyright, but many don’t understand that to
            | truly be free, alternatives to proprietary software and
            | creative works need to be secure, private, and high
            | quality, so that users can reasonably switch from
            | proprietary giants to more alternative software. 
            a(href="./freedom.pug")
              | Learn more about Sunflower’s freedom standards.
        details
          summary
            | Security: 
            | <span class="emoji" role="img" aria-label="lock emoji">
            |   🔒
            | </span>
          p 
            | Unlike other radical software such as GNU and Riseup Mail,
            | we strive to create software our users can reasonably trust.
            | This means using modern security standards like strong
            | sandboxing and permissions modeling. 
            a(href="./security.pug") Learn more about Sunflower’s security
              |  standards.
        details
          summary
            | Privacy: 
            | <span class="emoji" role="img" aria-label="lock emoji">
            |   🤫
            | </span>
          p 
            | Most radical software we’ve seen, such as GNU and Wikipedia,
            | have strong standards of privacy, and we want to continue this
            | trend, but often radical software puts privacy before security.
          p 
            | Sunflower believes that solid security sets the framework and
            | context necessary for making important decisions regarding user
            | privacy and freedom. However, we also have to acknowledge that
            | a lot of the more mainstream software that is used by people
            | every day, like Google’s Android and ChromeOS, were designed to 
            | put security above privacy to the point of invasion.
          p 
            | It seems apparent to the average user that certain software has
            | no interest in protecting their privacy, and so the user is
            | given a choice between radical, insecure, and private
            | <abbr title="Free Libre Open Source Software">FLOSS</abbr>,
            | such as GNU or Riseup Email, or such secure and private
            | mainstream non-FLOSS software, chiefly Apple.
          p
            | We want to provide freer alternatives to such proprietary giants
            | as Apple, without compromising user security
            | and privacy; we want to change the status quo! 
            a(href="./privacy.pug") Learn more about Sunflower’s privacy
              |  standards.
