doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../static/favicon.png" rel="icon" type="image/png")
    title Freedom: a Sunflower principle
    include ../includes/head.pug
  body
    main
      article
        h1 Freedom: a Sunflower principle
        p This is a freely-licensed creative work called a <em>standard</em>. It
          |  sets the tone for how Sunflower software developers should license
          | code for that code to be considered <dfn>Free and Libre Open Source
          | Software
          | (<abbr title="Free Libre Open Source Software">FLOSS</abbr>).
        p: b This document can change; just open a Pull Request on 
          a(href="https://0xacab.org/sunfloweraffinitygroup/website/website")
            | GitLab
          |  if you have that ability.
        h2 Use a license approved by the Free Software Foundation for software.
        p Sunflower software uses a license approved by the Free Software
          |  Foundation on 
          a(href="https://www.gnu.org/licenses/license-list.html") GNU’s list.
          |  While we don’t fully approve of GNU or the FSF for reasons we’ll
          | state later, we have to acknowledge the work they’ve done at
          | creating great licenses for copyright abolitionists, such as by <b>
          | highly recommending their GPL and AGPL licenses for our software.
        h2 Use a free license for documentation and creative works, as well.
        p Use a license that meets the definition of a free creative work as
          | defined by their 
          a(href="https://freedomdefined.org/Logos_and_buttons") definition page
            | .
          |  Creative Commons libre tier licenses are highly recommended. Because
          | of their relative unpopularity in the libre culture world, Creative 
          | Commons licenses are preferred over GNU or BSD Documentation
          | licenses.
        h2 Be proud of your libre license!
        p Your libre license is something to display to the world as a badge of
          |  honor. What better place for a software badge of honor than right on
          | the homepage of your repository? Just something to be considered, not
          | to be considered mandatory for Sunflower software at all.
