doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../static/favicon.png" rel="icon" type="image/png")
    title Security: a Sunflower principle
    include ../includes/head.pug
  body
    main
      article
        h1 Security: a Sunflower principle
        p This is a freely-licensed creative work called a <em>standard</em>. It
          |  sets the tone for how Sunflower software developers should build
          | code that users can reasonably be private using.
        p: b This document can change; just open a Pull Request on 
          a(href="https://0xacab.org/sunfloweraffinitygroup/website/website")
            | GitLab
          |  if you have that ability.
        p: b This document is supposed to standardize <em>websites and web apps</em>.
          |  Standards for a private way of developing apps in your favorite
          | framework could be coming soon.
        h2 Open source means no trackers.
        p The biggest thing we can do for our users privacy is provide our power
          |  users with the source code so they can check it out and ensure that
          | we have nothing to hide.
        h2 Cookies are not for the Internet.
        p Use modern web standards like LocalStorage and IndexedDB instead,
        | <b>with the assumption that you’re not storing anything too sensitive</b>.
        h2 Use and support open standards.
        p Use and support open web standards like Web Monetization. Such things
          |  are the future!
        
