@media (prefers-color-scheme: light) {
  :root {
    --background: #ffd300;
    --foreground: #333;
    --emoji-background: var(--foreground);
    --emoji-foreground: var(--background);
    --link-color: #006289;
    --link-visited-color: #624578;
    --link-button-visited-color: #a99ab5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: #ffd300;
    --emoji-background: transparent;
    --emoji-foreground: var(--foreground);
    --link-color: #46a8cf;
    --link-visited-color: #a99ab5;
    --link-button-visited-color: #624578;
  }
}



:root {
  --font-family: Inter, sans-serif;
  --h1-size: 2em;
  --link-button-background: var(--foreground);
  --link-button-foreground: var(--background);
  --link-button-font: var(--font-family);
  --link-button-font-size: 1.5em;
  --link-button-padding: 1em;
  --link-font-weight: bold;
  --link-button-border-radius: 0.5em;
  --link-button-focus-background: var(--background);
  --link-button-focus-color: var(--foreground);
  --link-button-focus-border-color: var(--foreground);
  --link-button-focus-border-offset: 0 0;
  --link-button-focus-border-blur: 0;
  --link-button-focus-border-size: 0.25em;
  --link-button-focus-box-shadow: var(--link-button-focus-border-offset)
                                  var(--link-button-focus-border-blur)
                                  var(--link-button-focus-border-size)
                                  var(--link-button-focus-border-color);
  --link-outline: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.link-button {
  background-color: var(--link-button-background);
  color: var(--link-button-foreground);
  border-radius: var(--link-button-border-radius);
  font-size: var(--link-button-font-size);
  padding: var(--link-button-padding);
  font-weight: var(--link-font-weight);
}

.link-button:visited {
  color: var(--link-button-visited-color);
}

.link-button:focus {
  outline: 0;
  background-color: var(--link-button-focus-background);
  color: var(--link-button-focus-color);
  box-shadow: var(--link-button-focus-box-shadow);
}

h1 {
  font-size: var(--h1-size);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:focus {
  outline: var(--link-outline);
  background-color: var(--link-color);
  color: var(--background);
}

summary:focus {
  outline: 0;
  background-color: var(--foreground);
  color: var(--background);
}

.emoji {
  background-color: var(--emoji-background);
  color: var(--emoji-foreground);
}
