doctype html
html(lang="en")
  head
    include includes/meta.pug
    link(rel="stylesheet", href="css/common.css")
    link(rel="stylesheet", href="css/index.css")
    link(href="static/favicon.png" rel="icon" type="image/png")
    title Sunflower Affinity Group
    body
      main
        article
          section#lead
            h1#lead-title Sunflower
            p#caption Think in solidarity; our horizontal affinity group creates
              |  standards for <em>anyone</em> to create an app to do just that.
            a.link-button(href="pages/about.pug") Learn more
          
